{% if edit %}

<ul class="apos-admin-bar-item apos-accordion-menu">
  <li class="apos-accordion-title"><i class="icon-doc"></i>Products</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      <li href="#" class="apos-control apos-accordion-item apos-button apos-new-button apos-new-product-button" data-new-product>New Product</li>
      <li href="#" class="apos-control apos-accordion-item apos-button apos-manage-button apos-manage-product-button" data-manage-product>Manage Products</li>
    </ul>
  </li>
</ul>

{% endif %}
